
{% extends './plantilla.html' %}
{% load static %}
{% block body %}

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-8">
              <h2 style="font-weight: 700; color: red;">Otras páginas navideñas</h2>
              <p style="color:red">No es el típico sitio de intercambio de enlaces, sino una selección personal de la Navidad en la web</p>
              
        </div>
        <div class="col-4" style="background-color:#FFE9BA ; color:#F82056; border-left: 5px solid #F82056;">
            <h3>¡Lo mejor de la Navidad!</h3>
            <BUtton>Seguir</BUtton>
            <h3>Descubre <a href="">las novedades en nuestro facebook.</a> ¡También en <a href="">instagram!</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'img/enlace1.png' %}" alt="">
                </div>
                <div class="col-8">
                    <p style="color:blue">Acordes religiosos tabulados</p>
                    <p>Contiene acordes de guitarra de algunos villancicos populares</p>
                    <a href=""> http://www.guitarra.net/religion.html</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/enlace2.png' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Belenistas de la Isla</p>
                    <p style="margin-top: 0px;">Interesante página creada por Andrés Quijano dedicada al mundo belenista</p>
                    <a href="">
                        http://www.belenistasdelaisla.com/</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/enlace3.png' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Catholic.net Christmas songs</p>
                    <p style="margin-top: 0px;">Web con muchos MIDIs de villancicos, en inglés.</p>
                    <a href="">http://www.catholic.net/RCC/music/midi/christmas/</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/enlace4.png' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Especial de Navidad de DosLourdes.net</p>
                    <p style="margin-top: 0px;">Un primer plato ligero ideal para estas fiestas de excesos, puedes añadirle almendras o piñones para darle un toque especial.</p>
                    <a href="">http://www.doslourdes.net/NAVindex.htm</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/enlace5.png' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Galería de imágenes de MMM</p>
                    <p style="margin-top: 0px;">Un delicioso postre de bizcocho, almendras y nata sencillo de preparar. Combina con cualquier menú de Navidad y se presta a diversas presentaciones.</p>
                    <a href="">http://www.lapaginademmm.com/navidad.htm</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/enlace6.png' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Iconbazaar</p>
                    <p style="margin-top: 0px;">Una forma distinta de preparar las castañas estas navidades: cocidas en un dulce caldo de canela y anís.</p>
                    <a href="">http://www.iconbazaar.com/holidays/christmas/</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/enlace7.jpg' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Manualidades navideñas en Bueno, bonito y barato</p>
                    <p style="margin-top: 0px;">Una forma distinta de preparar las castañas estas navidades: cocidas en un dulce caldo de canela y anís.</p>
                    <a href="">http://www.buenobonitoybarato.com.es/category/fiestas/navidad-fiestas/</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/enlace8.png' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Obra literaria y periodística de Enrique Arenz</p>
                    <p style="margin-top: 0px;">Dale un toque colorido a la mesa estas navidades con una ensalada de escarola y granada, ideal para acompañar los platos de carne o pescado principales.</p>
                    <a href="">
                        http://www.enriquearenz.com.ar/</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/receta9.jpg' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Ensalada navideña</p>
                    <p style="margin-top: 0px;">Esta completa ensalada bien puede valer de primer plato gracias a que incluye pollo, manzana, huevo y nueces.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/receta10.jpg' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Huevos escondidos</p>
                    <p style="margin-top: 0px;">Una forma distinta de preparar las castañas estas navidades: cocidas en un dulce caldo de canela y anís.</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="border-left: 5px solid #84ca82;">
            <h3 style="font-weight: 700;">El árbol de Navidad</h3>
            <p>El árbol, abeto o pino de Navidad es, junto a los conocidos belenes o pesebres, uno de los elementos típicos de las navidades. El origen de esta tradición se sitúa en el norte de Europa, donde antiguamente sus habitantes celebraban el nacimiento de Frey, dios del Sol y la fertilidad en la mitología escandinava, adornando un árbol perenne en la fecha próxima a la Navidad cristiana. </p>
            <br>
            <h3 style="font-weight: 700;">Villancicos sobre el árbol de Navidad</h3>
            <p>El árbol de Navidad no suele tener mucha participación en las canciones navideñas o villancicos, sin embargo, es el protagonista de un villancico dedicado en exclusiva a sus verdes y perennes hojas. El villancico cuenta con diversas traducciones, aquí están recogidas la versión en español, latín, inglés y alemán: </p>
            <ol>
                <li>El abeto (español)</li>
                <li>Oh árbol de la Navidad (español)</li>
                <li>O, abies (latín)</li>
                <li>Xmas tree (inglés)</li>
                <li>O Tannenbaum (alemán)</li>
            </ol>
        </div>
    </div>
    <div class="row mt-3" >
    
        <div class="col-8" style="font-size: 20px;">
            <h2 style="color: red;font-weight: 700;"> Y, además en el blog navideño</h2>
            <ul>
                <li><a href="">Concurso de Árboles 2021 (¡y van 17!)</a></li>
                <li><a href="">Concurso de Árboles 2020 (¡y van 16!)</a></li>
                <li><a href="">Resultados XV Concurso Árboles</a></li>
              
            </ul>
          
        </div>
        <div class="col-4" style="border-left:5px solid #199EB8;">
            <h3 style="font-weight: 700;">Enlaces patrocinados</h3>
            <h3 style="font-weight: 700;">Destacados de Navidad</h3>
            <ul>
                <li><a href="">Docenas de villancicos en varios idiomas</a></li>
                <li><a href="">La gramola: tu hilo musical navideño</a></li>
                <li><a href="">Canciones de Navidad actuales</a></li>
                <li><a href="">Belenes y pesebres enviados por los usuarios</a></li>
                <li><a href="">Roscón de Reyes</a></li>
            </ul>
            
        </div>
    </div>
   
</div>
{% endblock %}