
{% extends "./plantilla.html" %}
{% block body %}
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-8">
              <h2 style="font-weight: 700; color: red;">Árboles de Navidad</h2>
              <p style="color:red">Coomparte tu árbol de Navidad y contempla miles de árboles de todo el mundo</p>  
        </div>
        <div class="col-4" style="background-color:#FFE9BA ; color:#F82056; border-left: 5px solid #F82056;">
            <h3>¡Lo mejor de la Navidad!</h3>
            <BUtton>Seguir</BUtton>
            <h3>Descubre <a href="">las novedades en nuestro facebook.</a> ¡También en <a href="">instagram!</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <img src="https://treecontest.worldwidechristmas.com/images/podium-2022-900p.jpg" class="img-fluid">
        </div>
        <div class="col-4" style="border-left: 5px solid #84ca82;">
            <h3 style="font-weight: 700;">El árbol de Navidad</h3>
            <p>El árbol, abeto o pino de Navidad es, junto a los conocidos belenes o pesebres, uno de los elementos típicos de las navidades. El origen de esta tradición se sitúa en el norte de Europa, donde antiguamente sus habitantes celebraban el nacimiento de Frey, dios del Sol y la fertilidad en la mitología escandinava, adornando un árbol perenne en la fecha próxima a la Navidad cristiana. </p>
            <br>
            <h3 style="font-weight: 700;">Villancicos sobre el árbol de Navidad</h3>
            <p>El árbol de Navidad no suele tener mucha participación en las canciones navideñas o villancicos, sin embargo, es el protagonista de un villancico dedicado en exclusiva a sus verdes y perennes hojas. El villancico cuenta con diversas traducciones, aquí están recogidas la versión en español, latín, inglés y alemán: </p>
            <ol>
                <li>El abeto (español)</li>
                <li>Oh árbol de la Navidad (español)</li>
                <li>O, abies (latín)</li>
                <li>Xmas tree (inglés)</li>
                <li>O Tannenbaum (alemán)</li>
            </ol>
        </div>
    </div>
    <div class="row mt-3" >
        <div class="col-4 text-justify" style="background-color:#d2ece1;">
            <h2 style="font-weight: 700; color: red;">Edición 2022/2023 del Concurso de árboles</h2>
            <p>¿Te encantan los árboles de Navidad? ¿Quieres compartir tu árbol de Navidad con todos los visitantes de esta página?</p>
            <p>Navidad Digital, a través del portal navideño internacional World Wide Christmas, organiza por 18º año el concurso mundial de árboles navideños en Internet.</p>
            <p>Entra en: Concurso de árboles</p>

        </div>
        <div class="col-4" style="font-size: 20px;">
            <ul>
                <li><a href="">Concurso de Árboles 2021 (¡y van 17!)</a></li>
                <li><a href="">Concurso de Árboles 2020 (¡y van 16!)</a></li>
                <li><a href="">Resultados XV Concurso Árboles</a></li>
                <li><a href="">XV Concurso de Árboles</a></li>
                <li><a href="">Resultados XIII Concurso Árboles</a></li>
                <li><a href="">XIII Concurso mundial de árboles de Navidad</a></li>
                <li><a href="">Resultados XII Concurso Árboles</a></li>
            </ul>
          
        </div>
        <div class="col-4" style="border-left:5px solid #199EB8;">
            <h3 style="font-weight: 700;">Enlaces patrocinados</h3>
            <h3 style="font-weight: 700;">Destacados de Navidad</h3>
            <ul>
                <li><a href="">Docenas de villancicos en varios idiomas</a></li>
                <li><a href="">La gramola: tu hilo musical navideño</a></li>
                <li><a href="">Canciones de Navidad actuales</a></li>
                <li><a href="">Belenes y pesebres enviados por los usuarios</a></li>
                <li><a href="">Roscón de Reyes</a></li>
            </ul>
            
        </div>
    </div>
   
</div>
{% endblock %}