{% extends './plantilla.html' %}
{% block body %}
<div class="container" style="width: 90%;">
    <div class="row">
        <div class="col-md-7 text-left">
            <h2><b><span style="color: rgb(156, 28, 28);">Arroz con gandules</span></b></h2>
        
            <br>
        </div>

        <div class="col-md-5 text-left">
            <img src="https://almacen.navidaddigital.com/img/thumbs/thumb-arroz-con-gandules.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 text-left" style="border-top: 2px solid #bbb8b8; border-bottom: 1px solid #000; background-color: white;">
          
            <p style="color: rgb(11, 66, 11);">A:
                <br>
                * 1 libra de gandules frescos, escogidos y limpios (500 gramos, también puedes sustituirlos por habas frescas o incluso guisantes verdes) <br>
                * 2 litros de agua ( 8 tazas ) <br>
                * 4 cucharaditas de sal</p>
            <p style="color: rgb(11, 66, 11);"></p>B:
            <br>
                (Todos estos van bien picaditos) <br>
                
                * 1/2 onza de tocino (15 gramos) <br>
                * 1 onza de jamon de cocinar (30 gramos) <br>
                * 1 cebolla, mediana, mondada <br>
                * 1 ají dulce , sin semillas <br>
                * 1 pimiento verde, sin semillas <br>
                * 1 tomate, mediano <br>
                * 3 hojas de culantro <br>
                * 3 ramitas de culantrillo</p>
            <p style="color: rgb(11, 66, 11);">
                C:
                <br>
                * 3 cucharadas de aceite vegetal o manteca con achiote <br>
                * 3 aceitunas rellenas <br>
                * 1/2 cucharadita de alcaparras <br>
                * 1/4 taza de salsa de tomate</p>
            <p style="color: rgb(11, 66, 11);">
                D:
                <br>
                * 2 1/4 tazas de arroz <br>
                * 3 tazas de agua ( en que hirvieron los gandules )</p>


        </div>
        <div class="col-md-5 text-left" style="font-family: 'Times New Roman', Times, serif;">
            <h3><b>Agradecimientos</b></h3>
            <p>Sonia Medina</p>
            <br>
            <h3><b>Información de interés</b></h3>
            <p>Si necesitas convertir unidades de medida, usa esta sencilla aproximación: 1 libra = 16 onzas = 500 gr

                Los vídeos que ilustran la receta, en su caso, no corresponden necesariamente con el texto que la acompaña</p>
            <br>
            <h3><b>Más recetas</b></h3>
            <p>En Navidad Digital podrás encontrar muchas más recetas</p>
            <br>

        </div>
    </div>

    <div class="row">
        <div class="col-md-7 text-left" style="font-family: 'Times New Roman', Times, serif; text-align: justify;">
            <ol>
                <li>Enjuague bien los gandules y escurralos.</li>
                <li>Combinelos con los 2 litros ( 8 tazas ) de agua y pongalos a fuego alto.</li>
                <li>Cuando hierva, tape y cueza por 30 minutos.</li>
                <li>Agregue la sal y cueza 15 minutos más.</li>
                <li>Escurra y reserve 3 tazas del liquido.</li>
                <li>Mientras tanto, en un caldero , dore el tocino.</li>
                <li>Saquelo y dore el jamon.</li>
                <li>Añada el resto de los ingredientes incluidos en B y sofria.</li>
                <li>Añada los incluidos en C y mezcle.</li>
                <li>Lave bien el arroz, escurra y añada, mezclandolo bien.</li>
                <li>Agregue los gandules al arroz y sofria por unos minutos.</li>
                <li>Añada las 3 tazas de liquido que reservó y cueza a fuego moderado hasta que seque.</li>
                <li>Voltee el arroz.</li>
                <li>Tape el caldero y cueza por 30 minutos a fuego bajo .</li>
                <li>A mitad del tiempo voltee el arroz.</li>
                <li>El grano debe estar blando y eso significa que esta.</li>
                <br>
                <p>El total del tiempo en cocinar debe ser aprox. de 30 a 45 minutos.</p>
            </ol>
            <br>
            <div class="text-left" style="font-family: 'Times New Roman', Times, serif; text-align: justify; background-color: #f7e4cc; padding: 5px;" >
                <h3><b>¿Facebook o instagrammer?</b></h3>
                <p>Mis fotos originales de Madrid en Navidad, belenes y novedades navideñas, ¡en instagram y facebook!</p>
                <br>
            </div>
        </div>
        <div class="col-md-5 text-left" style="font-family: 'Times New Roman', Times, serif; text-align: justify;">
            <h3><b>Información de interés</b></h3>
            <ul>
                <li><a href="https://blog.navidaddigital.com/2014/11/18/calendario-de-adviento-regalo/" style="color: rgb(57, 29, 136);">Calendarios de Adviento para niños</a></li>
                <li><a href="https://www.navidaddigital.com/miscelanea/plantas-de-navidad/" style="color: rgb(57, 29, 136);">Plantas navideñas</a></li>
                <li><a href="https://www.navidaddigital.com/recetas/pollo-en-pepitoria/" style="color: rgb(57, 29, 136);">Receta de pollo en pepitoria</a></li>
                <li><a href="https://www.navidaddigital.com/villancicos/jingle-bells/" style="color: rgb(57, 29, 136);">Villancico Jingle Bells</a></li>
                <li><a href="https://www.navidaddigital.com/sms/" style="color: rgb(57, 29, 136);">SMS Navidad felz navidd!</a></li>
                <li><a href="https://www.navidaddigital.com/belenes/" style="color: rgb(57, 29, 136);">Belenes y pesebres enviados por los usuarios</a></li>
                <li><a href="https://www.navidaddigital.com/recetas/mazapan/" style="color: rgb(57, 29, 136);">Receta de mazapán</a></li>
                <li><a href="https://www.navidaddigital.com/villancicos/burrito-sabanero/" style="color: rgb(57, 29, 136);">Villancico Burrito Sabanero</a></li>
                <li><a href="https://www.navidaddigital.com/enlaces/" style="color: rgb(57, 29, 136);"></a>Otras páginas navideñas</li>
                <li><a href="https://www.navidaddigital.com/miscelanea/teatro-redondillas-de-navidad/" style="color: rgb(57, 29, 136);">Obra corta infantil de Navidad</a></li>
                <li><a href="https://blog.navidaddigital.com/2016/10/19/adelantando-compras-navidad/" style="color: rgb(57, 29, 136);">De compras navideñas</a></li>

            </ul>
        </div>
    </div>

</div>
{% endblock %}