{% extends './plantilla.html' %}
{% block body %}
<div class="container" style="width: 90%;">
    <div class="row">
        <div class="col-md-7 text-left">
            <h2><b><span style="color: rgb(156, 28, 28);">Arequipe de Reyes</span></b></h2>
        
            <br>
        </div>

        <div class="col-md-5 text-left">
            <img src="https://almacen.navidaddigital.com/img/thumbs/thumb-arequipe.jpg" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 text-left" style="border-top: 2px solid #bbb8b8; border-bottom: 1px solid #000; background-color: white;">
            <ul>
                <li><a href="" style="color: rgb(11, 66, 11);">3 litros de leche</a></li>
                <li><a href="" style="color: rgb(11, 66, 11);">Libra y media de azúcar (750 gramos)</a></li>
                <li><a href="" style="color: rgb(11, 66, 11);">Bicarbonato</a></li>
                <li><a href="" style="color: rgb(11, 66, 11);">Almidón</a></li>
            </ul>

        </div>
        <div class="col-md-5 text-left" style="font-family: 'Times New Roman', Times, serif;">
            <h3><b>Agradecimientos</b></h3>
            <p>Luz Estela Agudelo</p>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 text-left" style="font-family: 'Times New Roman', Times, serif; text-align: justify;">
            <p style="color: rgb(11, 66, 11);">En una paila, preferiblemente de cobre, se vierten 3 litros de leche con libra y media de azucar, que antes ha sido dorada sobre la parrilla. Luego se agrega ¼ de cucharadita de bicarbonato y se revuelve de vez en cuando. Cuando este espeso, se empieza a revolver todo el tiempo y se le agrega ½ cucharada de almidon, disuelta en 3 cucharadas de leche. Despues se sigue revolviendo hasta ver muy bien el fondo de la paila y cuando desprenda se baja de la parrilla y se vierte caliente sobre una refractaria...</p>
            
        </div>
        <div class="col-md-5 text-left" style="font-family: 'Times New Roman', Times, serif; text-align: justify;">
            <h3><b>Información de interés</b></h3>
            <p>Si necesitas convertir unidades de medida, usa esta sencilla aproximación: 1 libra = 16 onzas = 500 gr

                Los vídeos que ilustran la receta, en su caso, no corresponden necesariamente con el texto que la acompaña</p>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 text-left" style="font-family: 'Times New Roman', Times, serif; text-align: justify; background-color: #f7e4cc; padding: 5px;" >
            <h3><b>¿Facebook o instagrammer?</b></h3>
            <p>Mis fotos originales de Madrid en Navidad, belenes y novedades navideñas, ¡en instagram y facebook!</p>
            <br>
        </div>
        <div class="col-md-5 text-left" style="font-family: 'Times New Roman', Times, serif; text-align: justify;">
            <h3><b>Más recetas</b></h3>
            <p>En Navidad Digital podrás encontrar <a href="https://www.navidaddigital.com/recetas/"> muchas más recetas</a></p>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 text-left" style="font-family: 'Times New Roman', Times, serif; text-align: justify;">
            
        </div>
        <div class="col-md-5 text-left" style="font-family: 'Times New Roman', Times, serif; text-align: justify;">
            <ul>
                <li><a href="https://blog.navidaddigital.com/2016/10/19/adelantando-compras-navidad/" style="color: rgb(25, 5, 82);">De compras navideñas</a></li>
                <li><a href="https://www.navidaddigital.com/miscelanea/manualidades-dibujos-para-colorear/" style="color: rgb(25, 5, 82);">Dibujos para colorear</a></li>
                <li><a href="https://www.navidaddigital.com/belenes/" style="color: rgb(25, 5, 82);">Nacimientos y belenes</a></li>
                <li><a href="https://www.navidaddigital.com/villancicos/en/ingles/" style="color: rgb(25, 5, 82);">Villancicos en inglés</a></li>
                <li><a href="https://www.navidaddigital.com/miscelanea/una-navidad-en-el-polo-norte/" style="color: rgb(25, 5, 82);">Obra navideña teatral infantil</a></li>
                <li><a href="https://www.navidaddigital.com/recetas/pavo-relleno/" style="color: rgb(25, 5, 82);">Pavo relleno</a></li>
                <li><a href="https://www.navidaddigital.com/sms/" style="color: rgb(25, 5, 82);">Frases de Navidad</a></li>
                <li><a href="https://www.navidaddigital.com/villancicos/adeste-fideles/" style="color: rgb(25, 5, 82);">Villancico Adeste Fideles</a></li>
                <li><a href="https://www.navidaddigital.com/miscelanea/traducciones-de-villancicos" style="color: rgb(25, 5, 82);">Canciones navideñas multilingües</a></li>
                <li><a href="https://www.navidaddigital.com/miscelanea/madrid-navidad-2019/" style="color: rgb(25, 5, 82);">Madrid en Navidad 2019</a></li>
            </ul>
            <br>
            <br>
            <h3><b>Espacio patrocinado</b></h3>
        </div>
    </div>
</div>
{% endblock %}