
{% extends './plantilla.html' %}
{% load static %}
{% block body %}

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-8">
              <h2 style="font-weight: 700; color: red;">Miscélania Navideña</h2>
              <p style="color:red">Un poco de todo, humor, manualidades, dibujos para colorear, obras de teatro infantiles...</p>
              
        </div>
        <div class="col-4" style="background-color:#FFE9BA ; color:#F82056; border-left: 5px solid #F82056;">
            <h3>¡Lo mejor de la Navidad!</h3>
            <BUtton>Seguir</BUtton>
            <h3>Descubre <a href="">las novedades en nuestro facebook.</a> ¡También en <a href="">instagram!</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'img/var1.jpg' %}" alt="">
                </div>
                <div class="col-8">
                    <p style="color:blue">10 Árboles de Navidad Famosos (2017)</p>
                    <p>Hay árboles después del de Rockefeller Center de NYC, ¡aquí repasamos algunos de todo el mundo esta Navidad 2017!</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/var2.jpg' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Apps y Juegos de Navidad Android</p>
                    <p style="margin-top: 0px;">Los mejores juegos de Navidad para teléfonos y tabletas con sistema operativo Android</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/var3.jpg' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Chistes navideños</p>
                    <p style="margin-top: 0px;">Son malísimos, hay que reconocerlo, pero ahí están</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/var4.jpg' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Cómo se fabrica el mazapán</p>
                    <p style="margin-top: 0px;">Reportaje fotográfico de la fabricación industrial del mazapán</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/var5.jpg' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">El origen de Papá Noel</p>
                    <p style="margin-top: 0px;">¿Solo un invento de una marca de refrescos? En realidad no, los orígenes de Papá Noel, Santa Claus o el Viejito Pascuero se sitúan en el siglo IV, ¡hace 1700 años!</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/var6.jpg' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Estrellita de Navidad</p>
                    <p style="margin-top: 0px;">Una forma distinta de preparar las castañas estas navidades: cocidas en un dulce caldo de canela y anís.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/var7.jpg' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Madrid Navidad 2019</p>
                    <p style="margin-top: 0px;">Mi completo resumen navideño de esta Navidad en Madrid 2019, ¡las luces, la gran bola navideña, el Christmas Garden del Jardín Botánico, belenes, Cortylandia y mucho más!</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/var8.jpg' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Madrid Navidad 2020</p>
                    <p style="margin-top: 0px;">Dale un toque colorido a la mesa estas navidades con una ensalada de escarola y granada, ideal para acompañar los platos de carne o pescado principales.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/var9.jpg' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Plantas Navideñas, ¡conócelas!</p>
                    <p style="margin-top: 0px;">Un repaso a las principales plantas navideñas y algunas curiosidades. Acebo, rusco, muérdago, flor de Pascua y otras plantas de Navidad con bolitas rojas</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <img src="{% static 'img/var10.jpg' %}" alt="">
                </div>
                <div class="col-10">
                    <p style="color:blue">Redondillas navideñas</p>
                    <p style="margin-top: 0px;">Una forma distinta de preparar las castañas estas navidades: cocidas en un dulce caldo de canela y anís.</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="border-left: 5px solid #84ca82;">
            <h3 style="font-weight: 700;">El árbol de Navidad</h3>
            <p>El árbol, abeto o pino de Navidad es, junto a los conocidos belenes o pesebres, uno de los elementos típicos de las navidades. El origen de esta tradición se sitúa en el norte de Europa, donde antiguamente sus habitantes celebraban el nacimiento de Frey, dios del Sol y la fertilidad en la mitología escandinava, adornando un árbol perenne en la fecha próxima a la Navidad cristiana. </p>
            <br>
            <h3 style="font-weight: 700;">Villancicos sobre el árbol de Navidad</h3>
            <p>El árbol de Navidad no suele tener mucha participación en las canciones navideñas o villancicos, sin embargo, es el protagonista de un villancico dedicado en exclusiva a sus verdes y perennes hojas. El villancico cuenta con diversas traducciones, aquí están recogidas la versión en español, latín, inglés y alemán: </p>
            <ol>
                <li>El abeto (español)</li>
                <li>Oh árbol de la Navidad (español)</li>
                <li>O, abies (latín)</li>
                <li>Xmas tree (inglés)</li>
                <li>O Tannenbaum (alemán)</li>
            </ol>
        </div>
    </div>
    <div class="row mt-3" >
    
        <div class="col-8" style="font-size: 20px;">
            <h2 style="color: red;font-weight: 700;"> Y, además en el blog navideño</h2>
            <ul>
                <li><a href="">Concurso de Árboles 2021 (¡y van 17!)</a></li>
                <li><a href="">Concurso de Árboles 2020 (¡y van 16!)</a></li>
                <li><a href="">Resultados XV Concurso Árboles</a></li>
                <li><a href="">Especial ideas para envolver regalos</a></li>
                <li><a href="">Especial Tarjetas de Navidad</a></li>
                <li><a href="">Haz tu propia bola de nieve navideña</a></li>
              
            </ul>
          
        </div>
        <div class="col-4" style="border-left:5px solid #199EB8;">
            <h3 style="font-weight: 700;">Enlaces patrocinados</h3>
            <h3 style="font-weight: 700;">Destacados de Navidad</h3>
            <ul>
                <li><a href="">Docenas de villancicos en varios idiomas</a></li>
                <li><a href="">La gramola: tu hilo musical navideño</a></li>
                <li><a href="">Canciones de Navidad actuales</a></li>
                <li><a href="">Belenes y pesebres enviados por los usuarios</a></li>
                <li><a href="">Roscón de Reyes</a></li>
            </ul>
            
        </div>
    </div>
   
</div>
{% endblock %}