
{% extends './plantilla.html' %}
{% load static %}
{% block body %}
<style>
    .estribillo{
        font-style: oblique;
        font-weight: bold;
    
    }
</style>
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-8">
              <h2 style="font-weight: 700; color: red;">A las arandelas</h2>
                   
        </div>
        <div class="col-4" style="background-color:#FFE9BA ; color:#F82056; border-left: 5px solid #F82056;">
            <h3>¡Lo mejor de la Navidad!</h3>
            <BUtton>Seguir</BUtton>
            <h3>Descubre <a href="">las novedades en nuestro facebook.</a> ¡También en <a href="">instagram!</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4y5OJUyZ1XU?si=oatepoIdri5nKnMu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="estribillo"><span>Alabemos todos<br />
                al Ni&ntilde;o Jes&uacute;s<br />
                que naci&oacute; en Bel&eacute;n<br />
                y muri&oacute; en la Cruz.</span></p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Tambi&eacute;n alabemos<br />
                con suma alegr&iacute;a,<br />
                a sus santos padres,<br />
                San Jos&eacute; y Mar&iacute;a.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Despu&eacute;s de alabar<br />
                al Rey de los cielos,<br />
                con los de esta casa<br />
                nos entenderemos.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p> Y les cantaremos<br />
                de Dios con la gracia,<br />
                deseando a todos<br />
                muy felices Pascuas.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Y un a&ntilde;o feliz<br />
                con prosperidad<br />
                salud y dinero,<br />
                y felicidad.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Que el Ni&ntilde;o Jes&uacute;s<br />
                muy a bien lo tenga<br />
                librarlos a todos<br />
                de las malas lenguas.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Que los libre el Ni&ntilde;o<br />
                de los envidiosos,<br />
                que hacen mala sangre<br />
                y viven rabiosos.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Y los libre el cielo<br />
                de un vecino malo<br />
                que es mucho peor<br />
                que un incendio al lado.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Se&ntilde;ores, &iexcl;silencio!<br />
                que el sonido empieza,<br />
                de plato y cubiertos,<br />
                y arreglos de mesa.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Por el agujero<br />
                de la cerradura,<br />
                ya se siente el bajo<br />
                de fritanga pura.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Y all&aacute; en la cocina,<br />
                ruido de sartenes<br />
                que sacan del horno<br />
                pavos y pasteles.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Pues, seg&uacute;n se&ntilde;ales,<br />
                esta gente buena<br />
                trata de obsequiarnos<br />
                con tama&ntilde;a cena.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>As&iacute;, pues, se&ntilde;ores,<br />
                los due&ntilde;os de casa<br />
                abran sus puertas<br />
                que el tiempo se pasa.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Y al entrar, se&ntilde;ores,<br />
                mucha precauci&oacute;n,<br />
                con los que se meten<br />
                sin invitaci&oacute;n.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Y en los aguinaldos<br />
                los pulpos nombrados<br />
                se sientan primero<br />
                que los invitados.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Y al ir a la mesa<br />
                los primeros son,<br />
                en comer de todo<br />
                con mucha ambici&oacute;n.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Y son los primeros<br />
                en damas sacar<br />
                y hasta los registros<br />
                los suelen bailar.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Entremos, se&ntilde;ores,<br />
                a esta honrada casa,<br />
                saludando a todos<br />
                y dando las gracias.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>Y despu&eacute;s de entrar<br />
                esa gente buena,<br />
                que no tarde mucho<br />
                en poner la cena.</p>
              <p class="estribillo">A las arandelas, A las arandelas<br />
                A las arandelas de mi corazon</p>
              <p>As&iacute;, pues, se&ntilde;ores,<br />
                sin m&aacute;s dilaci&oacute;n<br />
                entremos cantando:<br />
                arandelas son.</p>
                
        </div>
        <div class="col-4" style="border-left:5px solid #199EB8;">
            <h3 style="font-weight: 700;">Destacados en Navidad</h3>
            
            <ul>
                <li><a href="">Docenas de villancicos en varios idiomas</a></li>
                <li><a href="">La gramola: tu hilo musical navideño</a></li>
                <li><a href="">Canciones de Navidad actuales</a></li>
                <li><a href="">Belenes y pesebres enviados por los usuarios</a></li>
                <li><a href="">Roscón de Reyes</a></li>
            </ul>
            
        </div>
        
    </div>

   
</div>
{% endblock %}