
{% extends './plantilla.html' %}
{% load static %}
{% block body %}
<style>
    .estribillo{
        font-style: oblique;
        font-weight: bold;
    
    }
</style>
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-8">
              <h2 style="font-weight: 700; color: red;">Adeste Fideles (Venid Fieles)</h2>
                   
        </div>
        <div class="col-4" style="background-color:#FFE9BA ; color:#F82056; border-left: 5px solid #F82056;">
            <h3>¡Lo mejor de la Navidad!</h3>
            <BUtton>Seguir</BUtton>
            <h3>Descubre <a href="">las novedades en nuestro facebook.</a> ¡También en <a href="">instagram!</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8 text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/h7lQrun-ksM?si=CnuO1CAS2RALanmW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>Venid, fieles todos, a Belén marchemos,<br/>
                de gozo triunfantes, henchidos de amor<br/>
                y al rey de los cielos contemplar podremos:</p>
                
                <p class="estribillo">Venid, adoremos,<br/>
                venid, adoremos,<br/>
                venid, adoremos,<br/>
                a Cristo el Señor.</p>
                
                <p>El que es hijo eterno del eterno Padre<br/>
                y Dios verdadero que al mundo creó<br/>
                al seno humilde vino de una madre:</p>
                
                <p class="estribillo">Venid, adoremos,<br/>
                venid, adoremos,<br/>
                venid, adoremos,<br/>
                a Cristo el Señor.</p>
                
                <p>En pobre pesebre yace reclinado,<br/>
                al hombre ofrece eternal salvación.<br/>
                El Santo Mesías, Verbo humanado:</p>
                
                <p class="estribillo">Venid, adoremos,<br/>
                venid, adoremos,<br/>
                venid, adoremos,<br/>
                a Cristo el Señor.</p>
                
                <p>Cantad jubilosas, célicas criaturas,<br/>
                resuene el cielo con vuestra canción:<br/>
                ¡Al Dios bondadoso gloria en las alturas!</p>
                
                <p class="estribillo">Venid, adoremos,<br/>
                venid, adoremos,<br/>
                venid, adoremos,<br/>
                a Cristo el Señor.</p>
                
        </div>
        <div class="col-4" style="border-left:5px solid #199EB8;">
            <h3 style="font-weight: 700;">Destacados en Navidad</h3>
            
            <ul>
                <li><a href="">Docenas de villancicos en varios idiomas</a></li>
                <li><a href="">La gramola: tu hilo musical navideño</a></li>
                <li><a href="">Canciones de Navidad actuales</a></li>
                <li><a href="">Belenes y pesebres enviados por los usuarios</a></li>
                <li><a href="">Roscón de Reyes</a></li>
            </ul>
            
        </div>
        
    </div>

   
</div>
{% endblock %}